<div class="row">
    <div class="col text-center">
        <h1>Busca no acervo</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-md-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">{{categoria}}</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><span class="dropdown-item" ng-model="categoria">teste</span></li>
            </ul>
        </div>
    </div>
</div>