<div class="row">
    <div class="col text-center">
        <h1>Seus Favoritos</h1>
    </div>
</div>
<!-- input categorias -->
<div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-md-6">
        <select class="form-select" ng-model="categoria" aria-label="Default select example" ng-change="getCategoria()">
            <option selected value="Anime">Anime</option>
            <option value="Manga">Manga</option>
        </select>
    </div>
</div>

<div class="row">
    <!-- table Anime -->
    <div class="col-12 mt-3" ng-if="categoria == 'Anime'">
        <table class="table text-center" ng-if="conteudos.length > 0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Num episodio</th>
                    <th>Ações</th>
                    <th>Detalhes</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="anime in conteudos | limitTo:itensPaginas:pagina*itensPaginas | orderBy:'title_english'">
                    <td>{{anime.title_english}}</td>
                    <td>{{anime.episodes}}</td>
                    <td><button class="btn btn-danger" ng-click="removerFav(anime.mal_id)">Remover</button></td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" ng-click="carregaModal(anime.mal_id)">
                            Detalhes
                        </button></td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#comentario" ng-click="carregaModal(anime.mal_id)">
                            Ver
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Table Manga -->
    <div class="col-12 mt-3" ng-if="categoria == 'Manga'">
        <table class="table text-center" ng-if="conteudos.length > 0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Num Volumes</th>
                    <th>Ações</th>
                    <th>Detalhes</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="manga in conteudos | limitTo:itensPaginas:pagina*itensPaginas | orderBy:'title_english'">
                    <td>{{manga.title_english}}</td>
                    <td>{{manga.chapters || "/"}}</td>
                    <td><button class="btn btn-danger" ng-click="removerFav(manga.mal_id)">Remover</button></td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" ng-click="carregaModal(manga.mal_id)">
                            Detalhes
                        </button></td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#comentario" ng-click="carregaModal(manga.mal_id)">
                            Ver
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Paginação -->
<div class="row mt-2 ">
    <div class="col d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li class="page-item"><button class="page-link" ng-click="previous(pagina+1)">Anterior</button></li>
                <li class="page-item"><button class="page-link" ng-click="nextPage(pagina+1)">Proximo</button></li>
            </ul>
        </nav>
    </div>
</div>

<!-- Modal anime-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    ng-if="categoria == 'Anime'">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{detalhes.title_english}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{detalhes.images.jpg.image_url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sinopse</h5>
                                <p class="card-text">{{detalhes.synopsis}}</p>
                                <p class="card-text"><small class="text-muted">Episodios: {{detalhes.episodes}}</small>
                                </p>
                                <p class="card-text"><a href="{{detalhes.trailer.embed_url}}"
                                        target="_blank">Trailer</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-danger" ng-click="removerFav($index)" data-bs-dismiss="modal">Remover</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Manga -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    ng-if="categoria == 'Manga'">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{detalhes.title_english}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{detalhes.images.jpg.image_url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sinopse</h5>
                                <p class="card-text">{{detalhes.synopsis}}</p>
                                <p class="card-text"><small class="text-muted">Volumes: {{detalhes.chapters ||
                                        "Desconhecido"}}</small></p>
                                <p class="card-text"><small class="text-muted">Autor:
                                        {{detalhes.authors[0].name}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button ng-if="btnFavorito(detalhes.mal_id)" type="button" data-bs-dismiss="modal"
                    class="btn btn-primary" ng-click="favoritar(detalhes.mal_id)">+Favoritos</button>
                <button ng-if="!btnFavorito(detalhes.mal_id)" data-bs-dismiss="modal" class="btn btn-danger"
                    ng-click="removerFav(detalhes.mal_id)" data-bs-dismiss="modal">Remover</button>
            </div>
        </div>
    </div>
</div>

<!-- modal comentario -->

<div class="modal fade" id="comentario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{detalhes.title_english}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating">
                    <textarea ng-disabled="inputComentario" ng-model="comentInput" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button ng-show="!inputComentario" type="button" ng-click="salvarComentario(detalhes.mal_id)" class="btn btn-success" data-bs-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-primary"
                    ng-click="editarComentario()">Editar</button>
            </div>
        </div>
    </div>
</div>