<div class="row">
    <div class="col text-center">
        <h1>Top animes do momento</h1>
    </div>
</div>
<!-- Card Anime -->
<div class="row">
    <div class="col-12 col-sm-2 col-md-3 mt-1"
        ng-repeat="anime in conteudos | limitTo:itensPaginas:pagina*itensPaginas">
        <div class="card h-100">
            <img class="card-img-top img-thumbnail rounded mx-auto d-block" src="{{anime.images.jpg.image_url}}"
                alt="Card image cap" style="width: 200px; height: 270px;">
            <div class="card-body">
                <h5 class="card-title text-center" style="height: 48px;">{{anime.title_english}}</h5>
                <div class="card-header">
                    Genero
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ng-repeat="genero in anime.genres | limitTo : 2">{{genero.name}}</li>

                </ul>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" ng-click="carregaModal(anime.mal_id)">
                        Detalhes
                    </button>
                    <button ng-if="btnFavorito(anime.mal_id)" class="btn btn-primary" ng-click="favoritar(anime.mal_id)">+Favorito</button>
                    <button ng-if="!btnFavorito(anime.mal_id)" class="btn btn-danger" ng-click="removerFav(anime.mal_id)" data-bs-dismiss="modal">Remover</button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- Paginação -->
<div class="row mt-2 ">
    <div class="col d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li class="page-item"><button class="page-link" ng-click="previous(pagina+1)">Anterior</button></li>
                <li class="page-item"><button class="page-link" ng-click="nextPage(pagina+1)">Proximo</button></li>
            </ul>
        </nav>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{detalhes.title_english}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{detalhes.images.jpg.image_url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sinopse</h5>
                                <p class="card-text">{{detalhes.synopsis}}</p>
                                <p class="card-text"><small class="text-muted">Episodios: {{detalhes.episodes}}</small></p>
                                <p class="card-text"><a href="{{detalhes.trailer.embed_url}}" target="_blank">Trailer</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button ng-if="btnFavorito(detalhes.mal_id)" type="button" data-bs-dismiss="modal" class="btn btn-primary" ng-click="favoritar(detalhes.mal_id)">+Favoritos</button>
                <button ng-if="!btnFavorito(detalhes.mal_id)" data-bs-dismiss="modal" class="btn btn-danger" ng-click="removerFav(detalhes.mal_id)" data-bs-dismiss="modal">Remover</button>
            </div>
        </div>
    </div>
</div>